body {
  background-color: white;
  background-attachment: fixed;

  font-size: 14px;
}


.leftsider {
  position: fixed;
  width: 10%;
  background: white;
  border-right: 2px solid grey;
  min-height: 1000px;
  float:left;
}

.RightSider {
  position: fixed;
  right: 0px;
  width: 15%;
  background: white;
  border-left: 2px solid grey;
  min-height: 1000px;
  max-height: 1000px;
  margin-right: 0;
  float: right;
  padding: 20px 15px 15px 15px;
}

.Time{
  position: fixed;
  background: dodgerblue;
  margin-left: 10%;
  margin-bottom: 950px;
  width: 75%;
  padding:  20px 100px 15px 100px;
  border-bottom: 2px solid grey;
}

a .Edit {
  position: fixed;
  margin-left: 50px ;
}

.ScheduleTable {
  position: fixed;
  background: #B1C8FD;
  margin-left: 10%;
  margin-top: 50px;
  width: 75%;
  min-height: 1000px;
  padding: 20px 15px 15px 15px;

}


.ScheduleEdit {
  font-size: 16px;
  width: 100%;
  height: 70px;
  background: white;
}



.MySchedule {
  width: 100%;
  height: 100%;
  background: dodgerblue;
  border: solid 1px grey;
}

.edit {
  color: white;
}

app {
}

.dayOfWeek {
  width: 184px;
  background: #B1C8FD;
  float: left;
  margin-left: 15px;
  margin-top: 25px;
}

.profile {
  height: 100px;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  position: relative;
}

ol {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}


.studentli {
  position: relative;
  list-style: none;
  height: 70px;
  border-bottom: solid 1px grey
}

.student{
  width:100%;
  height: 100%;
  background: white;
  border: solid 1px white;
}

.taskli {
  position: relative;
  list-style: none;
  height: 70px;
  padding: 20px 0px 20px 0px;
}

.task{
  width:100%;
  border-radius: 5px;
  border: solid 1px dodgerblue;
}

.addTask{
  width:100%;
  border-radius: 5px;
  border: solid 0.5px dodgerblue;
  background: #B1C8FD;
}

.newtask {
  color: dodgerblue;;
}
