body {
  background-color: white;
  background-attachment: fixed;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.leftsider {
  position: fixed;
  width: 20%;
  background: white;
  border-right: 2px solid grey;
  min-height: 1000px;
  float:left;
}

.rightsider {
  position: fixed;
  right: 0px;
  width: 20%;
  background: white;
  border-left: 2px solid grey;
  min-height: 1000px;
  max-height: 1000px;
  margin-right: 0;
  float: right;
  padding: 20px 15px 15px 15px;
}

.Time{
  position: fixed;
  background: dodgerblue;
  margin-left: 20%;
  margin-bottom: 95%;
  min-width: 60%;
  min-height: 7%;
  padding:  20px 100px 15px 100px;


}

a .Edit {
  position: fixed;
  margin-left: 50px ;
}

.ScheduleTable {
  position: fixed;
  background: #B1C8FD;
  margin-left: 20%;
  margin-top: 5%;
  min-width: 60%;
  min-height: 1000px;
  padding: 20px 15px 15px 15px;

}


.ScheduleEdit {
  font-size: 16px;
  width: 100%;
  height: 50px;
  background: #036dff;
  color: white;
  padding: 10px 30px 10px 30px;
}

.schedulebutton {
  width: 100%;
  height: 100%;
  border-left: 2px solid grey;
}

app {

}

.studentslist {
  overflow: auto;
  height: 780px;
  font-size: 14px;
}

.new-student {
  margin-left: 120px;
  margin-bottom: 40px;
}

.profile {
  height: 100px;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ol {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 30px;
  border-bottom: grey solid 1px;
  height: 70px;
}

li .name {
  margin-left: 2px;
}

li.checked {
  color: #888;
}

li.checked  {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.avatar {
  width: 100px;
}

